body {
    background: url("squares.gif");
}

.glow {
    height: 100px;
    width: 500;
    opacity: 1;
    margin-left: auto;
    margin-top: 10%;
}

.glow:hover {
    opacity: 1;
}
p, h1{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    font-family: monospace;
    color: rgb(255, 255, 255);
  }
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    font-family: monospace;
    color: rgb(255, 255, 255);
  }
  
/* GLOWING TEXT */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }